name: Update And Release

on:
  schedule:
    - cron: '0 */6 * * *'
  
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2.4.1
      with:
        version: 14.x
    - name: npm install and release
      run: npm run release
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
